
/* 

font-family: 'Alexandria', sans-serif;
font-family: 'Changa', sans-serif;

*/

/* 

COLORS : 


Orange color : #fdbc4a

GREEN COLOR : #c3c5a7

DARK BLUE COLOR : #a0acab

PURUPLE COLOR : #c184a3 

BLUE : #b4b9dd 




*/


/* UTLITYIES */

a {
  text-decoration: none !important;
}
.over_y_hidden {
  overflow-y: hidden !important;
}
.over_x_hidden {
  overflow-x: hidden !important;
}

.h-100 {
  height: 100vh;
}

.flex-col {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  flex-direction: column;
}

.error_headline {
  font-family: 'Mirza' , sans-serif;
  font-size: 22px;
  color: #f01;
  margin: 1rem 0;
}

/*----Containers*/
.container { max-width: 1100px; margin: 0 auto; overflow: auto; padding: 0 40px;}
.container-big { max-width: 1050px; margin: 0 auto; overflow: auto; padding: 0 40px;}
.container-sm { max-width: 1300px; margin: 0 auto; overflow: auto; padding: 0 20px;}
.container-mid { max-width: 1200px; margin: 0 auto; overflow: auto; padding: 0 40px;}
/*----END Containers*/

/* END UTILITES */





.color_red {
  color: #596869 !important;
}

.text-center { text-align: center; }
.text-right { text-align: right !important; }


.bg_red {
  background: #e21b18 !important;
}
.w-100 {
  width: 100%;
}

.w-80 {
  width: 80%;
}
/*--------Margin----------*/
.mx-auto { margin: auto; }

.my-1 { margin: 1rem 0;}
.my-2 { margin: 1.5rem 0;}
.my-3 { margin: 2rem 0;}
.my-4 { margin: 3rem 0;}
.my-5 { margin: 4rem 0;}

.mx-1 { margin: 0 1rem;}
.mx-2 { margin: 0 1.5rem;}
.mx-3 { margin: 0 2.5rem;}
.mx-4 { margin: 0 3rem;}
.mx-5 { margin: 0 4rem;}


.mr-1 { margin-right:  1rem;}
.mr-2 { margin-right:  1.5rem;}
.mr-3 { margin-right:  2.5rem;}
.mr-4 { margin-right:  3rem;}
.mr-5 { margin-right:  4rem;}


.m-1 { margin: 1rem; }
.m-2 { margin: 1.5rem ;}
.m-3 { margin: 2rem ;}
.m-4 { margin: 3rem ;}
.m-5 { margin: 4rem;}


.mt-1 { margin-top: 1rem !important;}
.mt-2 { margin-top: 1.5rem !important;}
.mt-3 { margin-top: 2rem !important;}
.mt-4 { margin-top: 3rem !important;}
.mt-5 { margin-top: 4rem !important;}
.mt-6 { margin-top: 5rem !important;}
.mt-7 { margin-top: 6rem !important;}
.mt-8 { margin-top: 7rem !important;}
.mt-9 { margin-top: 8rem !important;}
.mt-10 { margin-top: 9rem !important;}


.mb-1 { margin-bottom: 1rem !important;}
.mb-2 { margin-bottom: 1.5rem !important;}
.mb-3 {margin-bottom: 2rem !important;}
.mb-4 {margin-bottom: 3rem !important;}
.mb-5 {margin-bottom: 4rem !important;}

/*--------END Margin----------*/
/*--------Padding----------*/

.py-1 { padding: 1rem 0 !important;}
.py-2 { padding: 1.5rem 0 !important; }
.py-3 { padding: 2rem 0 !important;}
.py-4 { padding: 3rem 0 !important;}
.py-5 { padding: 4rem 0 !important;}


.pt-1 { padding-top: 1rem ;}
.pt-2 { padding-top: 1.5rem ;}
.pt-3 { padding-top: 2rem ;}
.pt-4 { padding-top: 3rem ;}
.pt-5 { padding-top: 4rem ;}



.px-1 { padding: 0 1rem;}
.px-2 { padding: 0 1.5rem;}
.px-3
.px-4 { padding: 0 3rem;}
.px-5 { padding: 0 4rem;}

.pb-1 { padding-bottom: 1rem !important;}
.pb-2 { padding-bottom: 1.5rem !important;}
.pb-3 {padding-bottom: 2rem !important;}
.pb-4 {padding-bottom: 3rem !important;}
.pb-5 {padding-bottom: 4rem !important;}

.p-1 { padding: 1rem; }
.p-2 { padding: 1.5rem ;}
.p-3 { padding: 2rem ;}
.p-4 { padding: 3rem ;}
.p-5 { padding: 4rem !important; }
/*--------END Padding----------*/


button {
  border: none;
  outline: none;
}

.f-sv {
  display: flex;
  justify-content: space-evenly;
}

.f-sp {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.iwaiter_container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 35px;
    
  }

  .section {
    margin-top: 5rem;
  }
  

  
  .setion_offer {
    direction: rtl;
    margin-top: 3rem;
  }
  
  .section_headline {
    font-size: 22px;
    font-family: 'Cairo';
    font-weight: 400;
    color: #010101;
  
  }
  
  .section_headline_sm {
    font-size: 18px;
    font-family: 'Cairo';
    font-weight: 600;
    color: #010101;
  
  }
  .grid_offer {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-column-gap: 1.5rem;
    grid-row-gap: 2.5rem;
  }
  
  .single_new_product {
    cursor: pointer;
    position: relative;
    text-align: center;
    background: #f6ede4;
    
    padding-bottom: 0.3rem;
    box-sizing: 0 12px 32px rgba(0,0,0,0.4);
    max-width: 45vw;
    border: 1px solid #a1a0a0a1;
  }
  
  .mt-3 {
    margin-top: 3.5rem;
  }

  .dashboard-container {
    direction: rtl;
    display: flex;
    flex-direction: row;
}
.dashboard-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #F0F2F5;
}
  

.dashbord-header-btn_2 {
  font-family: 'Changa';
  padding: 0.8em;
  padding-left: 2em;
  padding-right: 2em;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 0.9rem;
  font-weight: 700;
  border-radius: 8px;
  text-transform: uppercase;
  border: 1px solid #015C92;
  background-color: #015C92;
}
.dashbord-header-btn_2:hover {
  color: #015C92;
  border: 1px solid #015C92;
  background-color: #F0F2F5;
}

@media (max-width: 800px) {
  .dashbord-header-btn_2 {
   
    padding: 0.2em !important;
    padding-left: 0.2em !important;
    padding-right: 0.2em !important;
    font-size: 0.6rem !important;

  }
}
  
  @media (max-width: 560px) {
    .grid_offer {
      grid-column-gap: 0.5rem;
      grid-template-columns: repeat(1 , 1fr);
    }

    .iwaiter_container {
      padding: 0 20px;
    }
    .single_new_product {
      min-width: 100%;
    }

   
   
  }

 