* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
  }
  
  html {
    background: #f7f7f7;
    text-align: right;
    color: #000306;
    overflow-x: hidden;

    direction: rtl;
    
  }

  input {
    border: none;
    outline: none;
  }